socialnetwork/gcp/credentials.json
socialnetwork/gcp/token.txt
socialnetwork/socialnetwork
socialnetwork/terraform/.terraform
socialnetwork/terraform/.terraform.lock.hcl
socialnetwork/terraform/terraform.tfstate
socialnetwork/terraform/terraform.tfstate.backup
**/weaver_gen.go
socialnetwork/wrk2/obj/*
socialnetwork/wrk2/wrk
socialnetwork/wrk2/deps/luajit/src/*.o
socialnetwork/wrk2/deps/luajit/src/host/*.o
socialnetwork/wrk2/deps/luajit/src/host/buildvm
socialnetwork/wrk2/deps/luajit/src/host/minilua
socialnetwork/wrk2/deps/luajit/src/libluajit.a
socialnetwork/wrk2/deps/luajit/src/luajit
socialnetwork/terraform/.terraform.tfstate.lock.info
socialnetwork/weaver-gcp.toml
socialnetwork/.TODO
socialnetwork/data/*
socialnetwork/metrics.txt
socialnetwork/evaluation/gke/*.txt
socialnetwork/evaluation/local/*.txt
socialnetwork/weaver-gcp-eu.toml
socialnetwork/weaver-gcp-us.toml
