# gcp config
socialnetwork/gcp/credentials.json
socialnetwork/gcp/token.txt
# terraform
socialnetwork/deploy/terraform/.terraform
socialnetwork/deploy/terraform/.terraform.lock.hcl
socialnetwork/deploy/terraform/terraform.tfstate
socialnetwork/deploy/terraform/terraform.tfstate.backup
socialnetwork/deploy/terraform/.terraform.tfstate.lock.info
# socialnetwork workload
socialnetwork/wrk2/obj/*
socialnetwork/wrk2/wrk
socialnetwork/wrk2/deps/luajit/src/*.o
socialnetwork/wrk2/deps/luajit/src/host/*.o
socialnetwork/wrk2/deps/luajit/src/host/buildvm
socialnetwork/wrk2/deps/luajit/src/host/minilua
socialnetwork/wrk2/deps/luajit/src/libluajit.a
socialnetwork/wrk2/deps/luajit/src/luajit
# service weaver gen files and binaries
**/weaver_gen.go
socialnetwork/socialnetwork
# evaluation files
socialnetwork/evaluation/gcp/*
!socialnetwork/evaluation/gcp/.gitkeep
socialnetwork/evaluation/local/*
!socialnetwork/evaluation/local/.gitkeep
# temporary deployment files
socialnetwork/deploy/tmp/*
